<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<welcome-file-list>	
			<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
 	<servlet>
		<servlet-name>JavastockrepoServelt</servlet-name>
		<servlet-class>com.krontman.JavastockrepoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JavastockrepoServelt</servlet-name>
		<url-pattern>/javastockrepoServelt</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Ex03</servlet-name>
		<servlet-class>com.krontman.Ex03</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Ex03</servlet-name>
		<url-pattern>/Ex03</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Stock</servlet-name>
		<servlet-class>com.krontman.Stock</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Stock</servlet-name>
		<url-pattern>/Stock</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StockDeatailsServlet</servlet-name>
		<servlet-class>com.krontman.StockDeatailsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StockDeatailsServlet</servlet-name>
		<url-pattern>/StockDeatailsServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
